/*
background-grey: #F4F3F4;
button-purple: #192592;
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* Mobile  */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fefefe;
  padding-left: 25px;
  padding-right: 25px;
  color: #5b5e6d;
}

.bar1,
.bar2,
.bar3 {
  width: 45px;
  height: 5px;
  background-color: #333;
  margin: 6px 50px 0 0;
  transition: 0.4s;
}

nav img {
  width: 120px;
}

nav a {
  text-decoration: none;
  color: black;
}

.menu {
  display: none;
}

header {
  padding-top: 80px;
  display: flex;
  text-align: center;
}

header img {
  width: 80%;
  max-width: 550px;
  height: 100%;
  justify-content: center;
}

header p {
  font-size: 1.3em;
  color: #5b5e6d;
  text-align: left;
}

header h1 {
  font-size: 4em;
  color: #2c303f;
  text-align: left;
}

button {
  text-align: center;
  width: 100%;
  max-width: 250px;
  padding: 20px;
  font-size: 1.2em;
  background-color: #192592;
  color: white;
  border-radius: 4px;
}

button:nth-child(3) {
  background-color: #ffffff;
  color: #192592;
  align-self: center;
}

input {
  width: 80%;
  height: 60px;
  border-radius: 4px;
  /* margin: 20px; */
  font-size: 20px;
  max-width: 250px;
  padding-left: 7px;
}

h2 {
  font-size: 2em;
  color: #2c303f;
}

main {
  background-color: #f4f3f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

main p {
  margin: 20px;
  color: #5b5e6d;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 35px;
}

.logos img {
  padding: 50px;
  border-bottom: 2px #dddddd solid;
  max-width: 300px;
  max-height: 100px;
  width: 80%;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 50px;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 0;
}

footer,
ul {
  color: #5b5e6d;
  padding-inline-start: 0 !important;
}

footer ul li {
  padding: 10px 0;
  list-style-type: none;
}

footer > ul li:first-child {
  text-transform: capitalize;
  font-size: 1.2em;
}

.flex-wrap:last-of-type {
  background-color: #f4f3f4;
  margin: 0;
}

.social {
  font-weight: 800;
  padding: 20px 0;
  background-color: #f4f3f4;
  /* align-items: left; */
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.social img {
  width: 25px;
}

.social ul li,
.social > div {
  display: inline;
  padding: 15px;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .menu-bars {
    display: none;
  }

  input {
    display: none;
  }

  .menu {
    display: flex;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin-right: 60px;
  }

  nav ul li {
    padding: 10px;
  }

  .workspace {
    /* background-color: #192592; */
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    color: white !important;
  }
}
