/*
background-grey: #F4F3F4;
button-purple: #192592;
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* Mobile  */

body {
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fefefe;
    padding-left: 25px;
    padding-right: 25px;
}
nav img {
    height: 100px;
    width: 100;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 60px;
    
}

nav ul li {
    padding: 10px
}

nav a {
    text-decoration: none;
    color: black
}

.workspace {
    background-color: #192592;
    margin-left: 30px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}


 footer {
    background-color: #F4F3F4;
 }

 header {
     padding-top: 80px;
     display: flex;
     flex-direction: column;
     text-align: left;
     align-items: center;
     margin: 8px;
 }

 header img {
     width: 80%;
     height: 100%;
     justify-content: center;
 }

 header p {
     font-size: 1.5em;
     padding-right: 100px;
     margin-left: 10px
 }

 header h1 {
     font-size: 4em;
     position: relative;
     right: 50px;
     margin-left: 50px;
 }

  button {
     text-align: center;
     width: 80%;
     padding: 20px;
     font-size: 20px;
     background-color:#192592;
     color: white;
     border-radius: 10px;
 }

 input {
     width: 80%;
     height: 50px;
     margin: 20px;
     font-size: 20px;
 }

h2 {
    font-size: 2em;
    color: #2C303F;
}

main {
    background-color: #F4F3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

main p {
    margin: 20px;
    color: #2C303F;
}

main img {
    max-width: 250px;
    max-height: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px 0 0 0;
    margin: 0 50px;
}

.col {
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

/* main input {
    padding: 10px;
    border: 1px solid grey;
    letter-spacing: 1px;
    width: 80%;
    border-radius: 4px;
    margin-bottom: 20px;
} */

button:nth-child(3) {
    background-color: #ffffff;
    
    color: #192592;
    
}

/* main button:last-child {
    background-color: #192592;
    padding: 10px;
    color: #ffffff;
    border: 1px solid black;} */


.social {
    background-color: #F4F3F4;
}

